lesson2/lesson2.playground/playground.xcworkspace/xcuserdata/artemsolohin.xcuserdatad/UserInterfaceState.xcuserstate
part2/lesson1/part2lesson1/part2lesson1.xcodeproj/project.xcworkspace/xcuserdata/artemsolohin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcodeproj/
*.xcuserstate
DerivedData/
UserInterfaceState.xcuserstate
*/part2/lesson1/part2lesson1/part2lesson1.xcworkspace/xcuserdata/artemsolohin.xcuserdatad/UserInterfaceState.xcuserstate
lesson3_vk_client_initial/
Lesson3_vk_client_initial_updated/
lesson7_architectures_demo_starter/

